body{background:maroon}
h1{font-family:comic sans ms; background-
color:red; text-align:center; color:white;}

.warna{
    width:350px;
    height:50;
    background: pink;
    margin: 80px auto;
    padding: 30px 20px;
}